<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Valenzuela Sandra Portfolio</title>
</head>
<body>
  <header>
    <nav class="nav_header">
      <div class="container">
          <img src="../static/img/logo.png" class="nav_logo">
          <ul class="nav_ul">
            <li class="nav_li"><a href="#index">Home</a></li>
            <li class="nav_li"><a href="#about_me">About Me</a></li>
            <li class="nav_li"><a href="#skill">Technologies</a></li>
            <li class="nav_li"><a href="#project-carousel">Projects</a></li>
            <li class="nav_li"><a href="#studies">Studies</a></li>
            <li class="nav_li"><a href="#contact">Contact</a></li>
          </ul> 
          <div class="navbar-right">
        <button id="translate-btn" class="translate-btn">Español</button>
          </div>
      </div>
    </nav> 
  </header>

  <section id="index" class="index">
    <div class="index_div">
      <h2 class="title_cont2"><marquee>Welcome to my Portfolio;</marquee></h2>
      <p class="index_p">
        Hi! I am <strong><em>Sandra Valenzuela,</em></strong>
        <span style="color: rgb(75, 145, 145);">Full Stack Web Developer</span>
      </p>
      <p class="index_p">
        From Buenos Aires, Argentina
      </p>
    </div> 
    <div class="div_dib">
      <img src="../static/img/me.png" alt="Project 1" class="img_dib">
    </div>
  </section>

  <section id="about_me" class="about_me">
    <div class="div_img">
      <img src="../static/img/me_one.jpg" alt="Project 1" class="img_me">
    </div>
    <div class="div_me">
      <h2 class="title_cont">About Me</h2>
      <p class="p_about">
        Full Stack Web Developer and university student, with a strong interest in solving 
        complex problems and optimizing systems to achieve innovative solutions. I specialize in backend development, working with languages like Python, C#, and technologies such as .NET (C#, ASP.NET), MySQL, and Flask. Additionally, I have experience in designing and developing APIs.
      </p>
      <p class="p_about">  
        I also have experience in UML modeling, designing class diagrams, sequence diagrams, and flowcharts for efficient project planning and execution. I consider myself a proactive person, committed to continuous learning and improving my technical skills. My professional goal is to join dynamic teams where I can apply my knowledge to develop impactful solutions while growing professionally and contributing to the success of innovative projects.
      </p>
      <div class="btn_me">
       <a href="" download="CV-Valenzuela-Sandra" class="download_btn">Download CV</a>
      </div>
    </div>
  </section>

  <section id="skill" class="skill">
    <h2 class="title_cont">Technologies</h2>
    <div class="skill_container">
      <div class="section">
          <img src="../static/img/frontend.png" alt="frontend image" class="skill_img">
          <h3 class="skill_title">Frontend</h3> 
          <div class="badges">
            <div class="badge">HTML5</div>
            <div class="badge">CSS3</div>
            <div class="badge">JavaScript</div>
            <div class="badge">React JS</div>
            <div class="badge">Bootstrap</div>
          </div>
      </div>
      <div class="section">
          <img src="../static/img/backend.png" alt="backend image" class="skill_img">
          <h3 class="skill_title">Backend</h3> 
          <div class="badges">
            <div class="badge">C# (.NET)</div>
            <div class="badge">Python</div>
            <div class="badge">MySQL</div>
            <div class="badge">Firebase</div>
          </div>
      </div>
      <div class="section">
          <img src="../static/img/herramientas.png" alt="tools image" class="skill_img">
          <h3 class="skill_title">Tools</h3> 
          <div class="badges">
            <div class="badge">GIT</div>
            <div class="badge">GitHub</div>
            <div class="badge">Postman</div>
            <div class="badge">Swagger</div>
            <div class="badge">RESTful APIs</div>
          </div>
      </div>
    </div>
  </section>

  <section id="project-carousel" class="project-carousel">
    <h2 class="title_cont">Projects</h2>
        <div class="carousel-container">
            <div class="carousel">
        
                <div class="carousel-item">
                <h3>Productivity App</h3>
                <div class="project-image-container">
                <img src="../static/img/app.jpg" class="project-image" alt="Project 1">
                <div class="overlay">
                <div class="technologies">
                <img src="../static/img/html.png" alt="HTML" title="HTML">
                <img src="../static/img/css.png" alt="CSS" title="CSS">
                <img src="../static/img/python.png" alt="Python" title="Python">
                <img src="../static/img/mysql.png" alt="MySQL" title="MySQL">
                <img src="../static/img/js.png" alt="JavaScript" title="JavaScript">
                <img src="../static/img/jquery.png" alt="JavaScript" title="JavaScript">
                <img src="../static/img/flask.png" alt="Python" title="Python">
                <img src="../static/img/visual.png" alt="Visual Studio" title="Visual Studio">
                <img src="../static/img/github.png" alt="github" title="github">
            </div>
        </div>
        </div>
        <p class="project-description">
        Task management system with MySQL, the system allows users to register, query,
        update and delete tasks associated with your account. Each task includes information such as title,
        description, status, and creation time, with relationships between users and tasks to
        ensure integrity. SQL queries allow you to filter tasks by user, view pending or completed
        tasks, and manage tasks. information efficiently.
        </p>
            <div class="buttons">
            <a href="https://github.com/sandravalenzuelac/Proyecto" class="btn_carousel"><img src="../static/img/github_dos.png" class="img_car"></a>
            <a href=" " class="btn_carousel"><img src="../static/img/flecha.png" class="img_car"></a>
            </div>
            </div>
        
            <div class="carousel-item">
            <h3>Junior Shop</h3>
            <div class="project-image-container">
            <img src="../static/img/junior_shop.jpg" class="project-image" alt="Project 2">
            <div class="overlay">
            <div class="technologies">
            <img src="../static/img/html.png" alt="HTML" title="HTML">
            <img src="../static/img/css.png" alt="CSS" title="CSS">
            <img src="../static/img/sass.png" alt="SASS" title="SASS">
            <img src="../static/img/bootstrap.png" alt="Bootstrap" title="Bootstrap">
            <img src="../static/img/git.png" alt="git" title="git">
            <img src="../static/img/code.png" alt="Visual Studio Code" title="Visual Studio Code">
            <img src="../static/img/github.png" alt="github" title="github">
        
        </div>
        </div>
        </div>
        <p class="project-description">
        This project consists of creating a complete website for a pet store called
        Junior Shop. The objective is to transform a paper prototype into a functional web page,
        using the best web development practices with HTML and CSS.
        The end result is an attractive website. Users can easily navigate through the
        product categories, the site is fast, modern and SEO optimized, with a fluid experience on any device.
        </p>
            <div class="buttons">
            <a href="https://github.com/sandravalenzuelac/JuniorShop" class="btn_carousel"><img class="img_car" src="../static/img/github_dos.png"></a>
            <a href="https://your-website2.com" class="btn_carousel"><img class="img_car" src="../static/img/flecha.png"></a>
            </div>
            </div>
        
            <div class="carousel-item">
            <h3>Memory Game</h3>
            <div class="project-image-container">
            <img src="../static/img/game.jpg" class="project-image" alt="Project 2">
            <div class="overlay">
            <div class="technologies">
            <img src="../static/img/html.png" alt="HTML" title="HTML">
            <img src="../static/img/css.png" alt="CSS" title="CSS">
            <img src="../static/img/js.png" alt="JavaScript" title="JavaScript">
            <img src="../static/img/sweetAlert.png" alt="SweetAlert2" title="SweetAlert2">
            <img src="../static/img/code.png" alt="Visual Studio Code" title="Visual Studio Code">
            <img src="../static/img/github.png" alt="github" title="github">
            </div>
            </div>
            </div>
            <p class="project-description">
        This project is an interactive memory game created using JavaScript., HTML and CSS,
        as part of a course on the fundamentals of the JavaScript programming language.
        The game is based on the images of the characters from the famous television series The Simpsons
        and consumes a phrase API from the series to generate dynamic content in the game.
        jQuery was implemented to simplify DOM manipulation.
        </p>
            <div class="buttons">
            <a href="https://github.com/tu-repositorio2" class="btn_carousel"><img class="img_car" src="../static/img/github_dos.png"></a>
            <a href="https://your-website2.com" class="btn_carousel"><img class="img_car" src="../static/img/flecha.png"></a>
            </div>
            </div>
        
            </div>
    
            <button class="carousel-control prev" onclick="moveCarousel(-1)">&#10094;</button>
            <button class="carousel-control next" onclick="moveCarousel(1)">&#10095;</button>
        </div>
    </section>
    <section id="studies" class="studies">
        <h2 class="title_cont2">Studies and courses</h2>
        <div class="container_studies">
        <div class="studies_div">
        <h3>University Technician in Programming</h3>
        <p class="p_title">Universidad Tecnologica Nacional - Currently</p>
        <p class="p_studies">
        Participate in the development of computer systems using various programming languages, techniques
        and methodologies.
        Analyze, implement and optimize system programming with technical skills.
        Plan programming tasks within the development team and according to the technology of the project.
        Create technical and user documentation based on functional and technical requirements.
        </p>
        <a href="../static/img/subjects.jpg" download="subjects" class="download_btn">Download subjects</a>
        </div>
        
        <div class="studies_div">
        <h3>Python course for beginners</h3>
        <p class="p_title">MaureDev - Completed in 2024</p>
        <p class="p_studies">
        A course to learn how to program in Python, starting from the basics to more advanced topics,
        with a theoretical-practical approach that makes it easy to apply what you have learned in real projects.
        Explore the advantages of Python, such as its clear syntax and huge community, and learn how to use key libraries and tools that make its development more efficient. Good programming practices are also addressed to make projects scalable and easy to maintain.
        </p>
        <a href="https://www.youtube.com/watch?v=Kp4Mvapo5kc" class="download_btn">Self-taught</a>
        </div>
        
        <div class="studies_div">
        <h3>SQL programming course</h3>
        <p class="p_title">Udemy - Completed in 2024</p>
        <p class="p_studies">
        Course designed to learn SQL in a theoretical and practical way, addressing key concepts and applying them with
        examples. Beyond understanding its functionalities, learn to decide when to use them according to each
        situation.
        With the objective of an essential knowledge of the SQL language, it is a powerful declarative language that
        allows complex tasks to be solved easily and efficiently.
        Also, SQL for areas that require data analysis.
        </p>
        <a href="../static/img/sql.jpg" download="sql" class="download_btn">Download certificate</a>
        </div>
        
        <div class="studies_div">
        <h3>Clean Architecture in C# .NET</h3>
        <p class="p_title">Udemy - Completed in 2024</p>
        <p class="p_studies">
        Course designed to learn SQL in a theoretical and practical way, addressing key concepts and applying them with
        examples. Beyond understanding its functionalities, learn to decide when to use them according to each
        situation.
        With the objective of an essential knowledge of the SQL language, it is a powerful declarative language that
        allows complex tasks to be solved easily and efficiently.
        Also, SQL for areas that require data analysis.
        </p>
        <a href="../static/img/cnet.jpg" download="cnet" class="download_btn">Download certificate</a>
        </div>
        
        <div class="studies_div">
        <h3>Backend Course with .NET</h3>
        <p class="p_title">Udemy - Completed in 2024</p>
        <p class="p_studies">
        Course to learn how to program backend applications in .NET, starting with a solid foundation in fundamental concepts and their purpose, making it easy to replicate knowledge in other technologies.
        .NET is a highly in-demand technology, it explores the advantages and disadvantages of the ASP.NET framework tools, teaching how to leverage them to optimize development without reinventing the wheel.
        It also focuses on C#, the main language of .NET, providing skills applicable not only in backend, but in various areas of development.
        </p>
        <a href="" download="backend" class="download_btn">Download certificate</a>
        </div>
        
        <div class="studies_div">
        <h3>React JS</h3>
        <p class="p_title">Coder House - Completed in 2022</p>
        <p class="p_studies">
        Course to delve into the development of components using JavaScript and the advanced features of ES6, providing a solid foundation for creating modern and efficient applications.
        Handle data flows effectively, ensuring that your applications are scalable and easy to maintain.
        Also, application of route handling using Firebase, use of the virtual DOM through React JS developments. Creation of SPA applications.
    </p>
    <a href="../static/img/React JS.jpg" download="React" class="download_btn">Download certificate</a>
    </div>
    
    <div class="studies_div">
    <h3>Java Script</h3>
    <p class="p_title">Coder House - Completed in 2022</p>
    <p class="p_studies">
    Course on the fundamentals of the JavaScript programming language. Use of libraries by studying jQuery, as well as applying development techniques for modern apps with AJAX. Creation of interactive web solutions and
    transferring the knowledge of the course to any JavaScript framework.
    </p>
    <a href="../static/img/Java Script.jpg" download="Java-script" class="download_btn">Download certificate</a>
    </div>
    
    <div class="studies_div">
    <h3>Web Development</h3>
    <p class="p_title">Coder House - Completed in 2022</p>
    <p class="p_studies">
    Course on creating a website from a paper prototype.
    Web development practices, working with HTML and CSS. With tools to optimize your website to the maximum,
    implementing code versioning practices with GIT, and preprocessors such as SASS. Application of Bootstrap,
    and understanding of SEO. Uploads to the server. </p>
    <a href="../static/img/Web Development.jpg" download="Web-development" class="download_btn">Download certificate</a>
    </div>
    
    </div>
    </section>

    <section id="contact" class="contact">
        <h2 class="title_cont">Contact me</h2>
        <div class="contact_name">
        <div class="c_item">
        <p>
        <img src="../static/img/mail.png" alt="">
        Email: <a href="https://mail.google.com/mail/u/1/#inbox">valenzuela.sandrac@gmail.com</a>
        </p>
        </div>
        <div class="c_item">
        <p>
        <img src="../static/img/phone.png" alt="">
        WhatsApp:<a href="https://wa.me/5491153744122">+54 9 1153744122</a>
        </p>
        </div>
        <div class="c_item">
        <a href="../static/Sandra Carolina Valenzuela C.V.pdf" download="CV-Valenzuela-Sandra" class="btn_cont">Download CV</a>
        </div>
        </div>
        <div class="form">
        <p>Do you have any questions? Write to me!</p>
        <form id="contactForm" class="contact-form">
        <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Your name" required />
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Your email" required />
        </div>
        <div class="form-group">
        <label for="message">Message</label>
        <textarea id="message" placeholder="Enter your message" rows="5" required></textarea>
        </div>
        <div class="form-group">
        <label for="contactMethod">Send to:</label>
        <select id="contactMethod" required>
        <option value="email">Email Electronic</option>
        </select>
        </div>
        <button type="submit" class="submit">Send</button>
        </form>
        <p>Thank you very much!</p>
        </div>
        </section>

    <section class="contact_item">
        <div class="img_item">
              <div class="item_i_div">
                <a href="https://github.com/sandravalenzuelac/"><img  src="../static/img/github.png" alt="logo github"></a>
              </div>
              <div class="item_i_div">
                <a href="https://www.linkedin.com/in/sandra-valenzuela/"><img  src="../static/img/linkedin.png" alt="logo linkedin"></a>
              </div>
              <div class="item_i_div">
                <a href="https://x.com/SandraVale52722"><img  src="../static/img/x.png" alt="logo x"></a>
              </div>
              <div class="item_i_div">
                <a href="https://wa.me/5491153744122"><img  src="../static/img/whatsapp.png" alt="logo whatsapp"></a>
              </div>        
        </div>
    </section>

            <footer>© Sandra Valenzuela. All rights reserved.</footer>
        <script src="../static/script.js"></script>
    </body>
</html>
