<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Valenzuela Sandra Portfolio</title>
</head>
<body>
  <header>
    <nav class="nav_header">
      <div class="container">
          <img src="../static/img/logo.png" class="nav_logo">
          <ul class="nav_ul">
            <li class="nav_li"><a href="#index">Inicio</a></li>
            <li class="nav_li"><a href="#about_me">Sobre mí</a></li>
            <li class="nav_li"><a href="#skill">Tecnologías</a></li>
            <li class="nav_li"><a href="#project-carousel">Proyectos</a></li>
            <li class="nav_li"><a href="#studies">Estudios</a></li>
            <li class="nav_li"><a href="#contact">Contacto</a></li>
          </ul> 
          <div class="navbar-right">
           <button id="translate-btn" class="translate-btn">English</button>
          </div>
      </div>
    </nav> 
  </header>

  <section id="index" class="index">
    <div class="index_div">
      <h2 class="title_cont2"><marquee>Bienvenidos a mi Portfolio;</marquee></h2>
      <p class="index_p">
        ¡Hola! Soy <strong><em> Sandra Valenzuela,</em></strong>
        <spam style="color: rgb(75, 145, 145);">Desarrolladora Web Full Stack</spam>
      </p>
      <p class="index_p">
        De Buenos Aires Argentina 
      </p>
    </div> 
    <div class="div_dib">
      <img src="../static/img/me.png" alt="Proyecto 1" class="img_dib">
    </div>
  </section>

  <section id="about_me" class="about_me">
    <div class="div_img">
      <img src="../static/img/me_one.jpg" alt="Proyecto 1" class="img_me">
    </div>
    <div class="div_me">
      <h2 class="title_cont">Sobre mi</h2>
      <p class="p_about">
        Desarrolladora Web Full Stack y estudiante universitaria, con un fuerte interés en la resolución de problemas
        complejos y la optimización de sistemas para alcanzar soluciones innovadoras. Me especializo en desarrollo 
        backend, trabajando con lenguajes como Python, C#, y tecnologías como .NET (C#, ASP.NET), MySQL y Flask. 
        Además, tengo experiencia en el diseño y desarrollo de APIs.
        También tengo experiencia en modelado UML, diseñando diagramas de clases, diagramas de secuencia y diagramas 
        de flujo para una planificación y ejecución eficiente de proyectos.
      </p>
      <p class="p_about">  
        Me considero una persona proactiva, comprometida con el aprendizaje continuo y con la mejora constante de mis
        habilidades técnicas. Mi objetivo profesional es integrarme en equipos de trabajo dinámicos donde pueda 
        aplicar mis conocimientos para el desarrollo de soluciones de alto impacto, 
        al mismo tiempo que crezco profesionalmente y contribuyo al éxito de proyectos innovadores.
      </p>
      <div class="btn_me">
       <a href="" download="CV-Valenzuela-Sandra" class="download_btn">Descargar CV</a>
      </div>
    </div>
  </section>

  <section id="skill" class="skill">
    <h2 class="title_cont">Tecnologias</h2>
    <div class="skill_container">
      <div class="section">
          <img src="../static/img/frontend.png" alt="imagen frontend" class="skill_img">
          <h3 class="skill_title">Frontend</h3> 
          <div class="badges">
            <div class="badge">HTML5</div>
            <div class="badge">CSS3</div>
            <div class="badge">JavaScript</div>
            <div class="badge">React JS</div>
            <div class="badge">Bootstrap</div>
          </div>
      </div>
      <div class="section">
          <img src="../static/img/backend.png" alt="imagen backend" class="skill_img">
          <h3 class="skill_title">Backend</h3> 
          <div class="badges">
            <div class="badge">C#(.NET)</div>
            <div class="badge">Python</div>
            <div class="badge">MySQL</div>
            <div class="badge">Firebase</div>
          </div>
      </div>
      <div class="section">
          <img src="../static/img/herramientas.png" alt="imagen herramientas" class="skill_img">
          <h3 class="skill_title">Herramientas</h3> 
          <div class="badges">
            <div class="badge">GIT</div>
            <div class="badge">GitHub</div>
            <div class="badge">Postman</div>
            <div class="badge">Swagger</div>
            <div class="badge">RESTful APIs</div>
          </div>
      </div>
    </div>
  </section>

  <section id="project-carousel" class="project-carousel">
    <h2 class="title_cont">Proyectos</h2>
    <div class="carousel-container">
      <div class="carousel">
     
        <div class="carousel-item">
          <h3>App de Productividad</h3>
          <div class="project-image-container">
            <img src="../static/img/app.jpg" class="project-image" alt="Proyecto 1">
            <div class="overlay">
              <div class="technologies">
                <img src="../static/img/html.png" alt="HTML" title="HTML">
                <img src="../static/img/css.png" alt="CSS" title="CSS">
                <img src="../static/img/python.png" alt="Python" title="Python">
                <img src="../static/img/mysql.png" alt="MySQL" title="MySQL">  
                <img src="../static/img/js.png" alt="JavaScript" title="JavaScript">
                <img src="../static/img/jquery.png" alt="JavaScript" title="JavaScript">
                <img src="../static/img/flask.png" alt="Python" title="Python">
                <img src="../static/img/visual.png" alt="Visual Studio" title="Visual Studio">
                <img src="../static/img/github.png" alt="github" title="github">
              </div>
            </div>
          </div>
          <p class="project-description"> 
            Sistema de gestión de tareas con MySQL, el sistema permite a los usuarios registrar, consultar, 
            actualizar y eliminar tareas asociadas a su cuenta. Cada tarea incluye información como el título, 
            descripción, estado, y hora de creación, con relaciones entre usuarios y tareas para asegurar 
            integridad.  Las consultas SQL permiten filtrar tareas según el usuario, 
            visualizar tareas pendientes o completadas, y gestionar información de forma eficiente.
          </p>
          <div class="buttons">
            <a href="https://github.com/sandravalenzuelac/Proyecto" class="btn_carousel"><img src="../static/img/github_dos.png" class="img_car"></a>
            <a href=" " class="btn_carousel"><img src="../static/img/flecha.png" class="img_car"></a>
          </div>
        </div>

        <div class="carousel-item">
          <h3>Junior Shop</h3>
          <div class="project-image-container">
            <img src="../static/img/junior_shop.jpg" class="project-image" alt="Proyecto 2">
            <div class="overlay">
              <div class="technologies">
                <img src="../static/img/html.png" alt="HTML" title="HTML">
                <img src="../static/img/css.png" alt="CSS" title="CSS"> 
                <img src="../static/img/sass.png" alt="SASS" title="SASS">
                <img src="../static/img/bootstrap.png" alt="Bootstrap" title="Bootstrap">
                <img src="../static/img/git.png" alt="git" title="git">
                <img src="../static/img/code.png" alt="Visual Studio Code" title="Visual Studio Code">
                <img src="../static/img/github.png" alt="github" title="github">
               
              </div>
            </div>
          </div>
          <p class="project-description">  
            Este proyecto consiste en la creación de un sitio web completo para una tienda de mascotas llamada 
            Junior Shop. El objetivo es transformar un prototipo en papel en una página web funcional, 
            utilizando las mejores prácticas de desarrollo web con HTML y CSS.
            El resultado final es un sitio web atractivo. Los usuarios pueden navegar fácilmente por las 
            categorías de productos, el sitio es rápido, moderno y optimizado para SEO, con una experiencia 
            fluida en cualquier dispositivo.
          </p>
          <div class="buttons">
            <a href="https://github.com/sandravalenzuelac/JuniorShop" class="btn_carousel"><img class="img_car" src="../static/img/github_dos.png"></a>
            <a href="https://tu-sitio-web2.com" class="btn_carousel"><img class="img_car" src="../static/img/flecha.png"></a>
          </div>
        </div>

        <div class="carousel-item">
          <h3>Juego de Memoria</h3>
          <div class="project-image-container">
            <img src="../static/img/game.jpg" class="project-image" alt="Proyecto 2">
            <div class="overlay">
              <div class="technologies">
                <img src="../static/img/html.png" alt="HTML" title="HTML">
                <img src="../static/img/css.png" alt="CSS" title="CSS"> 
                <img src="../static/img/js.png" alt="JavaScript" title="JavaScript">
                <img src="../static/img/sweetAlert.png" alt="SweetAlert2" title="SweetAlert2">
                <img src="../static/img/code.png" alt="Visual Studio Code" title="Visual Studio Code">
                <img src="../static/img/github.png" alt="github" title="github">
              </div>
            </div>
          </div>
          <p class="project-description">
            Este proyecto es un juego de memoria interactivo creado utilizando JavaScript, HTML y CSS, 
            como parte de un curso sobre los fundamentos del lenguaje de programación JavaScript. 
            El juego está basado en las imágenes de los personajes de la famosa serie de televisión Los Simpson
            y consume una API de frases de la serie para generar un contenido dinámico en el juego. 
            Se implementó jQuery para simplificar la manipulación del DOM.
          </p>
          <div class="buttons">
            <a href="https://github.com/tu-repositorio2" class="btn_carousel"><img class="img_car" src="../static/img/github_dos.png"></a>
            <a href="https://tu-sitio-web2.com" class="btn_carousel"><img class="img_car" src="../static/img/flecha.png"></a>
          </div>
        </div>
  
      </div>
  
      <button class="carousel-control prev" onclick="moveCarousel(-1)">&#10094;</button>
      <button class="carousel-control next" onclick="moveCarousel(1)">&#10095;</button>
    </div>
  </section>
 
  <section id="studies" class="studies">
    <h2 class="title_cont2">Estudios y cursos</h2>
    <div class="container_studies">
        <div class="studies_div">
          <h3>Tecnicatura universitaria en Programación</h3>
          <p class="p_title">Universidad Tecnologica Nacional - Actualmente</p>
          <p class="p_studies">
            Participar en el desarrollo de sistemas informáticos utilizando diversos lenguajes de programación, técnicas
            y metodologías.
            Analizar, implementar y optimizar la programación de sistemas con habilidad técnica.
            Planificar tareas de programación dentro del equipo de desarrollo y según la tecnología del proyecto.
            Crear documentación técnica y de usuario basada en los requerimientos funcionales y técnicos.
          </p>
          <a href="../static/img/materias.jpg" download="materias" class="download_btn">Descargar materias</a>
        </div>

        <div class="studies_div">
          <h3>Curso de Python para principiantes</h3>
          <p class="p_title">MaureDev - Terminado en el 2024</p>
          <p class="p_studies">
            Curso para aprender a programar en Python, comenzando desde los conceptos básicos hasta temas más avanzados,
            con un enfoque teórico-práctico que facilita aplicar lo aprendido en proyectos reales.
            Explora las ventajas de Python, como su 
            sintaxis clara y su enorme comunidad, y aprender a utilizar bibliotecas y herramientas clave que hacen 
            su desarrollo más eficiente. También se abordan buenas prácticas de programación para que los proyectos 
            sean escalables y fáciles de mantener.
          </p>
          <a href="https://www.youtube.com/watch?v=Kp4Mvapo5kc" class="download_btn">Autodidacta</a>
        </div> 
        
        <div class="studies_div">
          <h3>Curso de programación en SQL</h3>
          <p class="p_title">Udemy - Terminado en el 2024</p>
          <p class="p_studies">
            Curso diseñado para aprender SQL de manera teórica y práctica, abordando conceptos clave y aplicándolos con
            ejemplos. Más allá de entender sus funcionalidades, aprender a decidir cuándo utilizarlas según cada 
            situación.
            Con el objetivo de un conocimiento esencial del lenguaje SQL, es un lenguaje declarativo poderoso que 
            permite resolver tareas complejas de forma sencilla y eficiente.
            Además, SQL para áreas que requieran análisis de datos.
          </p>
          <a href="../static/img/sql.jpg" download="sql" class="download_btn">Descargar certificado</a> 
        </div>
    
        <div class="studies_div">
          <h3>Clean Architecture en C# .NET</h3>
          <p class="p_title">Udemy - Terminado en el 2024</p>
          <p class="p_studies">
            Curso diseñado para aprender SQL de manera teórica y práctica, abordando conceptos clave y aplicándolos con
            ejemplos. Más allá de entender sus funcionalidades, aprender a decidir cuándo utilizarlas según cada 
            situación.
            Con el objetivo de un conocimiento esencial del lenguaje SQL, es un lenguaje declarativo poderoso que 
            permite resolver tareas complejas de forma sencilla y eficiente.
            Además, SQL para áreas que requieran análisis de datos.
          </p>
          <a href="../static/img/cnet.jpg" download="cnet" class="download_btn">Descargar certificado</a> 
        </div>

        <div class="studies_div">
          <h3>Curso de Backend con .NET</h3>
          <p class="p_title">Udemy - Terminado en el 2024</p>
          <p class="p_studies">
            Curso para aprender a programar aplicaciones backend en .NET, comenzando con una base sólida en conceptos 
            fundamentales y su propósito, lo que facilita replicar el conocimiento en otras tecnologías.
            .NET es una tecnología altamente demandada, explora las ventajas y desventajas de las herramientas del framework 
            ASP.NET, enseñándo cómo aprovecharlas para optimizar el desarrollo sin reinventar la rueda.
            También se centra en C#, el lenguaje principal de .NET, proporcionando habilidades aplicables no solo en 
            backend, sino en diversas áreas de desarrollo.
          </p>
          <a href="" download="backend" class="download_btn">Descargar certificado</a>
        </div> 
        
        <div class="studies_div">
          <h3>React JS</h3>
          <p class="p_title">Coder House - Terminado en el 2022</p>
          <p class="p_studies">
            Curso para profundizar en el desarrollo de componentes utilizando JavaScript y las características 
            avanzadas de ES6, proporcionando una base sólida para crear aplicaciones modernas y eficientes. 
            Manejar flujos de datos de manera efectiva, asegurando que tus aplicaciones sean escalables y fáciles de mantener.
            Asimismo, aplicación de el manejo de rutas utilizando Firebase, utilización del virtual DOM mediante los 
            desarrollos de React JS. Creación de aplicaciones SPA.
          </p>
          <a href="../static/img/React JS.jpg" download="React" class="download_btn">Descargar certificado</a> 
        </div>
        
        <div class="studies_div">
          <h3>Java Script</h3>
          <p class="p_title">Coder House - Terminado en el 2022</p>
          <p class="p_studies">
            Curso sobre los fundamentos del lenguaje de programación JavaScript. Utilización de las librerías estudiando 
            jQuery, así como aplicar técnicas de desarrollo para apps modernas con AJAX. Creación de soluciones web interactivas y 
            trasladar los conocimientos del curso a cualquier framework JavaScript.
          </p>
        <a href="../static/img/Java Script.jpg" download="Java-script" class="download_btn">Descargar certificado</a>
        </div>

        <div class="studies_div">
          <h3>Desarrollo Web</h3>
          <p class="p_title">Coder House - Terminado en el 2022</p>
          <p class="p_studies">
            Curso creación de un sitio web partiendo del prototipo en papel. 
            Prácticas del desarrollo web, trabajando con HTML y CSS. Con herramientas para optimizar al máximo tu sitio web, 
            implementando prácticas de versionado de código con GIT, y preprocesadores como SASS. Aplicación de Bootstrap, 
            y comprención del SEO. Subidas al servidor.
          </p>
          <a href="../static/img/Desarrollo Web.jpg" download="Desarrollo-web" class="download_btn">Descargar certificado</a> 
        </div>
        
       </div>   
  </section>
  
  <section id="contact" class="contact">
        <h2 class="title_cont">Contactame</h2>
        <div class="contact_name">
          <div class="c_item">
              <p>
                <img src="../static/img/mail.png" alt="">
                Email:<a href="https://mail.google.com/mail/u/1/#inbox">valenzuela.sandrac@gmail.com</a>
              </p>
          </div>
          <div class="c_item">
             <p>
              <img src="../static/img/phone.png" alt="">
              WhatsApp:<a href="https://wa.me/5491153744122">+54 9 1153744122</a>
            </p>
          </div>
          <div class="c_item">
            <a href="../static/Sandra Carolina Valenzuela C.V.pdf" download="CV-Valenzuela-Sandra" class="btn_cont">Descargar CV</a>
          </div>
        </div>
        <div class="form">
        <p>¿Tienes alguna consulta? ¡Escríbeme!</p>
        <form id="contactForm" class="contact-form">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" id="name" placeholder="Tu nombre" required />
          </div>
          <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <input type="email" id="email" placeholder="Tu correo" required />
          </div>
          <div class="form-group">
            <label for="message">Mensaje</label>
            <textarea id="message" placeholder="Escribe tu mensaje" rows="3" required></textarea>
          </div>
          <div class="form-group">
            <label for="contactMethod">Enviar a:</label>
            <select id="contactMethod" required>
              <option value="email">Correo Electrónico</option>
            </select>
          </div>
          <button type="submit" class="submit">Enviar</button>
        </form>
        <p>¡Muchisimas gracias!</p>
    </div>
  </section>

  <section class="contact_item">
        <div class="img_item">
          <div class="item_i_div">
            <a href="https://github.com/sandravalenzuelac/"><img  src="../static/img/github.png" alt="logo github"></a>
          </div>
          <div class="item_i_div">
            <a href="https://www.linkedin.com/in/sandra-valenzuela/"><img  src="../static/img/linkedin.png" alt="logo linkedin"></a>
          </div>
          <div class="item_i_div">
            <a href="https://x.com/SandraVale52722"><img  src="../static/img/x.png" alt="logo x"></a>
          </div>
          <div class="item_i_div">
            <a href="https://wa.me/5491153744122"><img  src="../static/img/whatsapp.png" alt="logo whatsapp"></a>
          </div>        
        </div>
  </section>
    
  <footer>© Sandra Valenzuela. Todos los derechos reservados.</footer>
  <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
  <script src="../static/script.js"></script>
</body>
</html>